/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0077b6;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #90e0ef;
  }
   */